<h2>User schedule:</h2>
<table class="users">
  <tr>
    <td>User ID:</td>
    <td>Day:</td>
    <td>Start at:</td>
    <td>End at:</td>
  </tr>
  <% for(var i=0; i < scheduleId.length; i++) { %>
  <tr>
    <td><%= scheduleId[i].user_id %></td>
    <td><%= scheduleId[i].day %></td>
    <td><%= scheduleId[i].start_at %></td>
    <td><%= scheduleId[i].end_at %></td>
  </tr>
  <% } %>
</table>
