<h2>User:</h2>
<table class="users">
  <tr>
    <td>First name:</td>
    <td>Last name:</td>
    <td>Email:</td>
    <td>Password:</td>
  </tr>
  <tr>
    <td><%= userIdSingle.firstname %></td>
    <td><%= userIdSingle.lastname %></td>
    <td><%= userIdSingle.email %></td>
    <td><%= userIdSingle.password %></td>
  </tr>
</table>
