<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users website</title>
  <link rel="stylesheet" href="/static/main.css"/>
</head>
<body>
  <div class="content-wrapper">
    <div class="top-bar">
      <h1>Users website</h1>
    </div>
    <div class="main-content">
      <h2>Users:</h2>
      <p><%=users %></p>
    </div>
</body>
</html>