<h3>Please add new schedule:</h3><div class="form-container">
<form method="POST" action="/users">
  <ul>
    <li>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="firstname" autocomplete="off" required>
      <small></small>
    </li>
    <li>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="lastname" autocomplete="off" required>
      <small></small>
    </li>
    <li>
      <label for="email">Email address:</label>
      <input type="email" id="email" name="email" autocomplete="off" required>
      <small></small>
    </li>
    <li>
      <label for="password">Password:</label>
      <input type="password" id="pass" name="password" minlength="8" required>
      <small></small>
    </li>
    <li>
      <button class="button" id="button-open" type="submit">Submit</button>
    </li>
  </ul>
  </form></div>